@{
    ViewBag.Title = "About";
}
<script src='../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../../www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<script async type='text/javascript' src='../../../../../../cdn.fancybar.net/ac/fancybar6a2f.js?zoneid=1502&amp;serve=C6ADVKE&amp;placement=w3layouts' id='_fancybar_js'></script>
<style type='text/css'>
    .adsense_fixed {
        position: fixed;
        bottom: -8px;
        width: 100%;
        z-index: 999999999999;
    }

    .adsense_content {
        width: 720px;
        margin: 0 auto;
        position: relative;
        background: #fff;
    }

    .adsense_btn_close, .adsense_btn_info {
        font-size: 12px;
        color: #fff;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        text-align: center;
        background: #000;
        top: 4px;
        left: 4px;
        position: absolute;
        z-index: 99999999;
        font-family: Georgia;
        cursor: pointer;
        line-height: 18px;
    }

    .adsense_btn_info {
        left: 26px;
        font-family: Georgia;
        font-style: italic;
    }

    .adsense_info_content {
        display: none;
        width: 260px;
        height: 340px;
        position: absolute;
        top: -360px;
        background: rgba(255,255,255,.9);
        font-size: 14px;
        padding: 20px;
        font-family: Arial;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
        box-shadow: 0 1px 26px -2px rgba(0,0,0,.3);
    }

        .adsense_info_content:after {
            content: '';
            position: absolute;
            left: 25px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fff;
            clear: both;
        }

        .adsense_info_content #adsense_h3 {
            color: #000;
            margin: 0;
            font-size: 18px !important;
            font-family: 'Arial' !important;
            margin-bottom: 20px !important;
        }

        .adsense_info_content .adsense_p {
            color: #888;
            font-size: 13px !important;
            line-height: 20px;
            font-family: 'Arial' !important;
            margin-bottom: 20px !important;
        }

    .adsense_fh5co-team {
        color: #000;
        font-style: italic;
    }
</style>
<script>

    $(function() {
      $('.adsense_btn_close').click(function() {
        $(this).closest('.adsense_fixed').css('display', 'none');
      });

      $('.adsense_btn_info').click(function() {
        if ($('.adsense_info_content').is(':visible')) {
          $('.adsense_info_content').css('display', 'none');
        } else {
          $('.adsense_info_content').css('display', 'block');
        }
      });

    });

</script>
<div class='adsense_fixed'>
    <div class='adsense_content'>
        <span class='adsense_btn_close' title='Hide Ads'>x</span>
        <div class='adsense_info_content'>
            <h3 id='adsense_h3'>Why Ads?</h3>
            <p class='adsense_p'>
                We hope you'll understand us why we display Ads here at w3layouts. We use Ads in order for us to continue working and provide you new template every day. As we all know domain, hosting servers and designers is not free and
                for us to pay it we have to display Ads. Thank you for Supporting Us.
            </p>
            <p class='adsense_p'>
                Love,
                <br><span class='adsense_fh5co-team'>w3layouts Team</span>
            </p>
        </div><span class='adsense_btn_info' title='Why Ads'>i</span>
        <script async src='../../../../../../pagead2.googlesyndication.com/pagead/js/f.txt'></script>
        <!-- ResponsiveW3layouts -->
        <ins class='adsbygoogle'
             style='display:block'
             data-ad-client='ca-pub-9153409599391170'
             data-ad-slot='7722137086'
             data-ad-format='auto'></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <ins class='adsbygoogle'
             style='display:inline-block;width:728px;height:90px'
             data-ad-client='ca-pub-9153409599391170'
             data-ad-slot='6850850687'></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<!-- banner -->
<div class="banner10" id="home1">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>
<!-- //banner -->
<!---728x90--->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!---728x90--->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3ls_about_grids">
            <div class="col-md-6 w3ls_about_grid_left">
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.
                </p>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p>
                        Sunt in culpa qui officia deserunt mollit
                        anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="clearfix"> </div>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p>
                        Sunt in culpa qui officia deserunt mollit
                        anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">
                <img src="~/images/77.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!---728x90--->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="wthree_team_grids">
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/8.png" alt=" " class="img-responsive" />
                <h4>Smith Allen <span>Fashion Designer</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/9.png" alt=" " class="img-responsive" />
                <h4>Laura James <span>Fashion Designer</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/10.png" alt=" " class="img-responsive" />
                <h4>Crisp Doe <span>Fashion Designer</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/images/11.png" alt=" " class="img-responsive" />
                <h4>Linda Rosy <span>Fashion Designer</span></h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
            <p>
                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                repellat.
            </p>
        </div>
    </div>
</div>
<!-- //team -->
<!-- team-bottom -->
<div class="team-bottom">
    <div class="container">
        <h3>Are You Ready For Awesomeness? Flat <span>50% Offer</span> For Women's</h3>
        <p>
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
            voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
            repellat.
        </p>
        <a href="dresses.html">Shop Now</a>
    </div>
</div>
<!-- //team-bottom -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->